[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "==1.4.3"
azure-mgmt-resource = "==1.2.2"
azure-common = "==1.1.14"
boto = "==2.48.0"
packet-python = "==1.37.1"
apache-libcloud = "==2.4.0"
pycryptodome = "==3.7.3"
laniakea = "*"

[dev-packages]
tox = "==3.1.2"
pylint = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"
watchdog = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
autopep8 = "*"
